/docset/
/html/
/html-warn/
/ns-3.docset
latex/
ns3-object.txt
introspected-doxygen.h
introspected-command-line.h
doxygen.docset.conf
doxygen.log
doxygen.warnings.log
*/build/
*/source-temp/
ns3_html_theme/static/ns3_version.js
*.pcapcd 
*.bin
build/*
*/build/
*.txt
*.pcap
**/build/**

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


!/ns-3.17/src/lgs/model/pingpong_example.bin